extends structure/_layout
block content
    #cursor
    main.lx-container-90
        .lx-row.flow-w-col.has-gap-2
            .lx-image.brand.hover
                i(data-feather="hexagon", focusable="false")
                span luxonauta
            .has-dflex-center.has-gap-1.mrow
                a(
                    href="https://toad.li/74rzxf",
                    target="_blank",
                    rel="noopener noreferrer",
                    class="ps-relative has-dflex-center flow-nw-col btn hover"
                )
                    i(data-feather="codepen", focusable="false")
                    span CodePen
                a(
                    href="https://toad.li/toc9in",
                    target="_blank",
                    rel="noopener noreferrer",
                    class="ps-relative has-dflex-center flow-nw-col btn hover"
                )
                    i(data-feather="twitter", focusable="false")
                    span Twitter
                a(
                    href="https://toad.li/ytwdoq",
                    target="_blank",
                    rel="noopener noreferrer",
                    class="ps-relative has-dflex-center flow-nw-col btn hover"
                )
                    i(data-feather="github", focusable="false")
                    span GitHub
                a(
                    href="mailto:luxonauta@gmail.com",
                    target="_blank",
                    rel="noopener noreferrer",
                    class="ps-relative has-dflex-center flow-nw-col btn hover"
                )
                    i(data-feather="mail", focusable="false")
                    span Email